header {
    height: 20px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 1;
    box-shadow: 0px 0.3px 10px 1px #000;
    opacity: 0.7;
}

/*Adding Image for Zajawka*/
#Face {

    clear: both;
    background-image: url("FirstWeb//images/empty-plate.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    border-radius: 8px;
    position: relative;
    top: 60px;
}
/*style nagłowkow h1 h2*/
.Promo h1 {
    font-size: 60px;
    position: absolute;
    top: 250px;
    left: 400px;
    text-shadow: 1px 4px black ;

}
.Promo h2 {
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 400px;
}

header #logo {
    margin-left: 10vw;
}

header #logo:hover{
    cursor: pointer;
}

nav {
    margin-right: 10vw;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li {
    padding: 10px;
    font-size: 14px;
    color: #777777;
}

nav a {
    text-decoration: none;
}

nav ul li:hover {
    border-bottom: 3px solid #7cc576;
    cursor: pointer;
}

section {
    height: 800px;
}

.sectionOne {
    background-color: #7cc576;
}

.sectionTwo {
    background-color: #77a777;
}

.sectionTree {
    background-color: #003344;
}

/*Natalia pisze, że wkleiła formularz css*/

.form {
    border-radius: 6px;
    border-color: #66CCCC;
    padding: 10px;
    text-align: center;
    font-family: Georgia;
    padding: 5px;

}

/*css do przycisku'wyślij' , ktory jest przy formularzu z e-mailem*/
.submit {
    border-radius: 6px;
    background-color: #66CCCC;
    color: black;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 */
    cursor: pointer;
}

.submit:hover {
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
    copyntType:1;); /* IE6-9 */
    color: black;
    cursor:pointer;
}
/*Styl dla paragrafu.Natalia*/
p {
    color: white;
    font-family: verdana;
    font-size: 13px;
}

.wrapper {
  text-align: center;
    padding:300px 300px 300px 300px;

}

.sectionFour {
    background-color: #334455;
}

@media (max-width: 600px) {                    /* Zmiany dotyczace responsywnosci przy szerokosci ekranu mniejszej niz 600px */
    header {
        flex-direction: column;
        height: 45px;

    }

    header #logo {
        margin-left: auto;
        margin-right: auto;
    }

    nav ul li {
        font-size: 12px;
    }

}

@media (max-width: 420px) {                 /* Zmiany dotyczace responsywnosci przy szerokosci ekranu mniejszej niz 420px */
    header {
        height: 150px;
    }

    nav ul {
       display: -webkit-flex;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-flow: column wrap;
       align-content: center;
   }

}