#container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

header {
    height: 20px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 1px 10px 1px #000;
}

.section-banner {
     background: transparent url("FirstWeb/images/banner-bg-empty-plate.jpg") no-repeat 55%;
     background-size: cover;
     height: 130vh;
     position: relative;
 }

#social {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     position: fixed;
     width: 50px;
     height: 150px;
     top: 50vh;
     right: 0;
     z-index: 3;
     background-color: #ffffff;
     border-radius: 15px 0 0 15px;
     box-shadow: 0 1px 5px 3px #000;
 }

.section-banner h1 {
    color: #55acee;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 500;
    font-size: 40px;
    /*text-shadow: 1px 1px black ;*/
    position: absolute;
    top:50%;
    left: 40%;
    transform: translateX(-75%) translateY(-91%);
}
.btn {
    position: absolute;
    top:50%;
    left: 40%;
    transform: translateX(-85%) translateY(30%);
    cursor: pointer;
    /*margin: 10px;*/
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 82px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .9s;
    -o-transition: .3s;
    display: inline-block;
}

.btn:hover {
    cursor:pointer;
}
.blue {
    color: #55acee;
    border: 2px #55acee solid;
}
.blue:hover {
    background-color: #55acee;
    color: #fff
}

header #logo {
    color: #55acee;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 25px;
    letter-spacing: 4px;
    border-left: 3px solid #55acee;
    border-right: 3px solid #55acee;
    padding-left: 7px;
    padding-right: 7px;
}

header #logo:hover{
    cursor: pointer;
    text-shadow: -2px -2px 40px #55acee
}

header a {
    text-decoration: none;
}

nav {
    margin-right: 5vw;
    margin-top: -5px;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li {
    font-family: 'Open Sans', 'sans-serif';
    padding: 10px;
    font-size: 18px;
    color: #55acee ;
}

nav a {
    text-decoration: none;
}

nav ul li:hover {
    border-bottom: 3px solid #55acee;
    cursor: pointer;
}

section {
    height: 100vh;
}

.sectionOne {
    display: flex;
    background-color: #7cc576 ;
}

.sectionTwo {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #96f2ef;
  padding-bottom: 50px;
}
.sectionTree {
    /*display: flex;*/
    background-color: #baffde ;
}

.form p {
    color: dimgrey;
}
.form{
    border-radius: 6px;
    border-color: #55acee ;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';
    align-items:center;

}

.form input[type="text"], .form input[type="email"]{
    width: 200px;
    text-align: center;
    font-size:20px;
    color: #ffffff;
    display: block;
    padding: 20px;
    margin: 0 auto;
    margin-top: 6px;
    height: 35px;
    border-radius: 5%;
    border-color: rgb(85, 172, 238);
    border-style: double solid;
    background-color: floralwhite;
}
/*Natalia pisze, że wkleiła formularz css*/
 /*css do przycisku'wyślij' , ktory jest przy formularzu z e-mailem*/
.submit {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    font-family: Georgia, sans-serif;
    color:  white;
    font-size:15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin: 7px;
}

.submit:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor:pointer;
}
/*Styl dla paragrafu dotyczacy formularzu.Natalia*/
p {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 300;
    color: white;
    font-size: 25px;
}

p.security {
    font-size:11px;
    font-weight: bold;
    color:dimgrey;
    text-align:center;
    text-decoration: underline;
}
@media (max-width: 800px) {
    header {
        flex-direction: column;
        height: 45px;
        align-items: center;
    }

    section{
        height: auto;
    }
    .section-banner h1 {
        font-size: 30px;
        position: relative;
}

    .btn,.blue {
        position: relative;
        font-size:55px ;
}
    nav {
        width: 70%;
        margin: 0 auto;
    }

    nav ul li {
        font-size: 12px;
    }
    nav ul li:hover {
        border-bottom: 1px solid #55acee;
    }
    #social {
        display: none;
    }

}

@media (max-width: 420px) {                 /* Zmiany dotyczace responsywnosci przy szerokosci ekranu mniejszej niz 420px */
    header {
        height: 150px;
    }

    section {
        height: auto;
    }

    nav ul {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        align-content: center;
    }

}

/* style Macieja */

.features {
   text-align: center;
    width: 800px;
    display: flex;
    justify-content: center;
    margin: 60px auto auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.cecha {
    background-image: url('FirstWeb/images/icon-checked.svg');
    background-repeat: no-repeat;
    background-position: center top 10px;
    background-size: 100px auto;
    background-color: #ffffff;
    padding: 150px 3px 3px 3px;
    display: flex;
    height: 150px;
    width: 180px;
    /*min-width: 150px;*/
    /*!*max-width: 200px;*!*/
    margin: 5px 5px;
    border: 2px solid #55acee;
    border-radius: 10px;
    /*font: Calibri;*/
    font-size: 20px;
    color: #55acee;
    letter-spacing: 1px;
    transition-property: background-color;
    transition-duration: 0.5s;
    /*justify-content: center;*/
    align-items: center;
    font-family: 'Open Sans', 'sans-serif';
    box-shadow: 0 6px 18px #55acee;
}

.cecha:hover {
    background-color: #55acee;
    color: #fff;
    box-shadow: 0 6px 18px black;

}

.save-money {
    background-image: url('FirstWeb/images/save-money.svg');
}

.save-time {
    background-image: url('FirstWeb/images/save-time.svg');
}

.wide-choice {
    background-image: url('FirstWeb/images/wide-choice.svg');
}

.best-in-class {
    background-image: url('FirstWeb/images/best-in-class.svg');
}

/*Stopka*/

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(85, 172, 238);
    align-items: center;
    font-size: 20px;
    color: white;
    box-shadow: 0px -0.3px 10px #000;

}

.copyright{
    margin-right: 200px;
}

.last-update-date {
    margin-left: 200px;
}

.team-name,
.update-date {
    font-style: italic;
}


/* koniec styli Macieja */


/*Natalia wprowadziła styl paragrafu odnosnie bezpieczenstwa strony*/
.security1 {
    font-size:40px;
    color: black;
    text-align:center;
}
.section-about-us {
    display: flex;
    background-color: #07ff8b;
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
}
#photo-container {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 1;
    perspective: 1000;
}
#card {
    border-radius: 10%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d ;
    transition: all 1.0s linear;

}

#photo-container:hover #card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px black;

}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
}



/*}*/


/*.face .front{*/

    /*width: 25%;*/
    /*height: 25%;*/
    /*background-color: #b4e391;*/
    /*display: inline-block;*/
    /*clear: both;*/
    /*margin: 10px;*/
/*}*/
/*.section-about-us-face-one {*/
    /*width: 55%;*/
    /*height: auto;*/
    /*border-radius: 100%;*/
    /*border: 3px solid;*/
    /*box-shadow: 5px 10px black;*/
    /*transition: transform 2s;*/
    /*!*transform: perspective(500px) rotateY(0);*!*/
    /*backface-visibility: hidden;*/
/*}*/
/*.section-about-us-face-one:hover {*/
    /*transform: perspective(600px) rotateY(180deg);*/
/*}*/
/*.hidden-content-back-photo{*/
    /*display: none;*/
/*}*/
