body {
    /*border:solid white 17px;*/
    /*border:black solid 5px;*/
    /*padding-right: 20px;*/
    /*padding: 30px;*/
}

section {
    min-height: 100vh;
    width: 98%;
    padding-top: 60px;
    /*border:pink solid 2px;*/
    margin-bottom: 50px;
    margin-left: 20px;
    /*margin-right: 50px;*/
    box-shadow: 2px 3px 4px 5px black;
}

header {
    height: 20px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 0.5px 10px 0.5px #000;
}

#social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width: 50px;
    height: 150px;
    top: 50vh;
    right: 0;
    z-index: 3;
    background-color: #ffffff;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 1px 5px 3px #000;
}

#social a {
    color: #444444;
}

header #logo {
    color: black;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 25px;
    letter-spacing: 4px;
    border-left: 3px solid #55acee;
    border-right: 3px solid #55acee;
    padding-left: 7px;
    padding-right: 7px;
}

header #logo:hover {
    cursor: pointer;
    text-shadow: -2px -2px 40px black;
}

header a {
    text-decoration: none;
}

nav {
    margin-right: 5vw;
    margin-top: -5px;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li {
    font-family: 'Alfa Slab One', cursive;
    padding: 10px;
    font-size: 18px;
    color: black;
}

nav a {
    text-decoration: none;
}

nav ul li:hover {
    border-bottom: 3px solid #55acee;
    cursor: pointer;
}

.sectionTwo {
    background: transparent;
    background-image: url("FirstWeb/images/zima2.jpg");
    background-size: cover;
    background-position: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #96f2ef;
    padding-bottom: 50px;
}

.sectionTree {
    background: transparent;
    background-image: url("FirstWeb/images/zima2.jpg");
    background-size: cover;
    background-position: 60%;
    /*display: flex;*/
    background-color: #baffde;
}

.form p {
    color: dimgrey;
}

.form {
    opacity: 0.7;
    border-radius: 6px;
    border-color: #55acee;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';
    align-items: center;

}
.form input:active{
    opacity:1;
}

.form input[type="text"], .form input[type="email"] {
    color: grey;
    width: 200px;
    text-align: center;
    font-size: 20px;
    display: block;
    padding: 20px;
    margin: 0 auto;
    margin-top: 6px;
    height: 35px;
    border-radius: 5%;
    border-color: black;
    border-style: double solid;
    background-color: floralwhite;
}

/*Natalia pisze, że wkleiła formularz css*/
/*css do przycisku'wyślij' , ktory jest przy formularzu z e-mailem*/
.submit {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    font-family: Georgia, sans-serif;
    color: white;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin: 7px;
}

.submit:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
}

/*Styl dla paragrafu dotyczacy formularzu.Natalia*/
p {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 300;
    color: white;
    font-size: 25px;
}

p.security {
    font-size: 11px;
    color:black;
    text-align: center;
    text-decoration: underline;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        height: 45px;
        align-items: center;
    }

    #container {
        /*padding-top: 85px;*/
    }

    section {
        height: auto;

    }

    nav {
        width: 70%;
        margin: 0 auto;
    }

    nav ul li {
        font-size: 12px;
    }

    nav ul li:hover {
        border-bottom: 1px solid #55acee;
    }

    #social {
        display: none;
    }

}

@media (max-width: 420px) {
    /* Zmiany dotyczace responsywnosci przy szerokosci ekranu mniejszej niz 420px */
    header {
        height: 150px;
    }

    section {
        height: auto;
    }

    nav ul {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        align-content: center;
    }

    nav ul li:hover {
        border-bottom: none;
        border-left: 1px solid #55acee;
        border-right: 1px solid #55acee;
    }

}

/* style Macieja */

.features {
    opacity: 0.75;
    /*background-color: #ffffff;*/
    /*padding: 4px;*/
    text-align: center;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Alfa Slab One', cursive;
}

.cecha {
    opacity: 0.7;
    background-image: url('FirstWeb/images/icon-checked.svg');
    background-repeat: no-repeat;
    background-position: center top 10px;
    background-size: 100px auto;
    background-color: #ffffff;
    padding: 95px 3px 3px 3px;
    display: flex;
    height: 150px;
    width: 180px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 22px;
    color: black;
    letter-spacing: 1px;
    transition-property: background-color;
    transition-duration: 0.5s;
    align-items: center;
}

.cecha:hover {
    opacity: 1;
    /*background-color: #55acee;*/
    background-size: 120px auto;
    background-position: center top 5px;
    color: black;
    box-shadow: 0 0 20px 5px black;
    /*border-color: #ffffff;*/
    transition-duration: 0.5s;
}

.column-1,
.column-2 {
    opacity: 0.5;
    background-color: #ffffff;
    display: flex;
    height: 300px;
    width: 380px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    letter-spacing: 1px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 22px;
    align-items: center;
    padding: 3px;
}

.column-1:hover,
.column-2:hover {
    opacity: 1;
    /*background-color: #55acee;*/
    color: black;
    box-shadow: 5px 5px 20px 10px black;
    /*z-index: 100;*/
    transform: scale(1.3, 1.3) translate(-46px, -37px);
    transition-duration: 0.5s;
    border-color: black;
}

.column-1:hover {
    transform: scale(1.3, 1.3) translate(46px, -37px);
    box-shadow: -5px 5px 20px 10px black;
}

.column-1 ul,
.column-2 ul {
    list-style-type: disc;
    padding: 3px 3px 3px 30px
}

.column-1 ul li,
.column-2 ul li {
    margin: 25px auto;
}

.save-money {
    background-image: url('FirstWeb/images/save-money.svg');
}

.save-time {
    background-image: url('FirstWeb/images/save-time.svg');
}

.wide-choice {
    background-image: url('FirstWeb/images/wide-choice.svg');
}

.best-in-class {
    background-image: url('FirstWeb/images/best-in-class.svg');
}

@media screen and (max-width: 840px) {
    .features {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .features {
        width: 200px;
    }

    /*.cecha {*/
    /*height: 100px;*/
    /*width: 120px;*/
    /*background-size: 60px auto;*/
    /*padding-top: 65px;*/
    /*font-size: 14px;*/
    /*}*/
    /*.cecha:hover {*/
    /*background-size: 80px auto;*/
    /*}*/
    /*.column-1,*/
    /*.column-2 {*/
    /*height: 200px;*/
    /*width: 260px;*/
    /*font-size: 14px;*/
    /*}*/

    .column-1:hover,
    .column-2:hover {
        opacity: 1;
        /*background-color: #55acee;*/
        color: black;
        box-shadow: 0 0 20px 5px black;
        transform: scale(1, 1) translate(0, 0);
        transition-duration: 0.5s;
        border-color: #ffffff;
    }
}

/*Stopka*/

footer {
    /*height: 30px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    /*border-radius: 7%;*/
    align-items: center;
    font-size: 16px;
    box-shadow: 2px -0.3px 10px #000;
}

.copyright{
    display: flex;
    margin: 4px;
    background-color: #ffffff;
    color: black;
    padding: 1px 2px;
    border: 1px solid #ffffff;
    border-radius: 7px;
}

.last-update-date {
    display: flex;
    margin: 4px;
    background-color: #ffffff;
    color: black;
    padding: 1px 2px;
    border: 1px solid #ffffff;
    border-radius: 7px;
}

.team-name,
.update-date {
    font-style: italic;
}

/* koniec styli Macieja */

/*Natalia wprowadziła styl paragrafu odnosnie bezpieczenstwa strony*/
.security1 {
    font-size: 40px;
    color: black;
    text-align: center;
}


@import url('http://weloveiconfonts.com/api/?family=entypo');

body {
    background: #ddd;
}

/*Stopka*/

footer {
    height: auto;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #666666;
    align-items: center;
    font-size: 10px;
    align-content: center;
}

footer .legal {
    display: block;
}

.social-wrapper-footer a{
    padding: 0 10px;
    color: #ffffff;
    font-size: 20px;
}
