/*
essential styles:
these make the slideshow work
*/

#slides {
  position: relative;
  height: 300px;
  padding: 0px;
  margin: auto;
  list-style-type: none;
}

.slide {
  background-color: red;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80%;
  height: 80%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.showing {
  opacity: 1;
  z-index: 2;
}