/*.features {*/
  /*background-color: black;*/
/*}*/

body {
  background-color: red;
}

.feature-viewer {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.feature-group {
  width: 100%;
  height: 100%;
  position: relative;
}

.cecha {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide:first-child {
  display: block;
}