.section-banner {
    background:red;
    background-image: url("../images/banner-bg-empty-plate.jpg");
    background-size: cover;
    /*no-repeat 55%;*/
    background-position: 60%;
    height: 140vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-banner-h1-box {
    text-align: center;
    margin-top: -300px;
}

.section-banner h1 {
    color:#55acee;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 60px;
    text-align: center;

}
.btn-to-form-box {
    text-align: center;
    margin-top: 30px;
}
.btn-to-form{

    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 82px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .9s;
    -o-transition: .3s;
    color: #55acee;
    border: 2px #55acee solid;
}

.btn-to-form:hover {
    background-color: #55acee;
    color: #fff;
    cursor:pointer;
}

@media (max-width: 800px) {
    .section-banner h1 {
        font-size:40px;
        
    }
    .btn-to-form {

        font-size: 60px;
    }

}

@media (max-width: 420px) {
    .section-banner h1 {
        font-size:25px;
    }
    .btn-to-form {
        font-size: 40px;
    }
}