.section-banner {
    background: transparent;
    background-image: url("../images/przyklad.jpg");
    background-size: cover;
    background-position: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border:solid 30px black;*/
    margin-top: 75px;
    /*box-shadow: 3px 3px 3px 3px black;*/



}

.section-banner-h1-box {
    text-align: center;

}

.section-banner h1 {

    /*margin-left: -200px;*/
    border:solid black 5px;
    border-left:none;
    border-right: none;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    text-align: center;
}

.btn-to-form-box {
    /*margin-left: -200px;*/
    text-align: center;
    margin-top: 30px;
}

.btn-to-form {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 82px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .9s;
    -o-transition: .3s;
    color: black;
    border: 5px black solid;
    background-color: white;
    opacity: 0.6;
}

.btn-to-form:hover {
    /*background-color: white;*/
    /*opacity:0.7;*/
    color: black;
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 800px) {
    .section-banner h1 {
        font-size: 40px;

    }
    .btn-to-form {
        font-size: 60px;
    }


}

@media (max-width: 420px) {
    .section-banner h1 {
        font-size: 25px;
        margin-left: 0;
    }
    .btn-to-form-box {
        margin-left: 0;
    }
    .btn-to-form {
        font-size: 40px;

    }

}

.section-about-us {
    background: transparent;
    background-image: url("../images/zima2.jpg");
    background-size: cover;
    background-position: 60%;
    display: flex;
    justify-content:space-around;
    background-color: #07ff8b;
    padding-top: 100px;
}

.wizytowka-obrazek {
    width: 400px;
    border-radius: 100%;
    height: 400px;
    /*border:solid black 8px;*/
}

.wizytowka-box {
    position: relative;
}
.podpis {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    padding: 20px;
    color: white;
    text-decoration: underline;
    text-shadow: black 9px 2px 13px ;
}
/*.wizytowka-box:hover > .cien {*/
    /*background-color: #55acee;*/
    /*height: 100px;*/
    /*width: 400px;*/
    /*border-radius: 100%;*/
    /*opacity: 1;*/
/*}*/
/*.wizytowka-box > .cien  {*/
    /*opacity: 0;*/
/*}*/

.wizytowka-box:hover > .podpis  {
    opacity: 0.8;
}
.wizytowka-box > .podpis  {
 opacity: 0;
}
.wizytowka-box > .wizytowka-back {
    border:solid black 8px;
    box-shadow: 3px 3px 4px 5px black;
    border-radius: 100%;
    background-color: white;
    height: 400px;
    width: 400px;
    text-align: center;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: 1s ease 0s;
    opacity: 0.5;
}
.wizytowka-box > .wizytowka-front {
    opacity:0.8;
    /*border:solid black 3px;*/
    box-shadow: 3px 3px 4px 5px black;
    border-radius: 100%;
    transition: 1s ease 0s;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    position: absolute;
    height: 400px;
    width: 400px;
}

.wizytowka-box:hover > .wizytowka-back {
    transform: perspective(600px) rotateY(0deg);
}

.wizytowka-box:hover > .wizytowka-front {
    transform: perspective(600px) rotateY(-180deg);
}

.text-opis-osoby {
    padding: 100px;
    display: inline-block;
    color: black;
}

/*@media (max-width: 1450px) {*/
    /*.section-about-us {*/
        /*flex-wrap: wrap;*/
    /*}*/
/*}*/
@media (max-width: 1600px) {
    .section-about-us {
        flex-wrap: wrap;
    }
    .wizytowka-obrazek{
        width:300px;
        height: 300px;
    }
    .wizytowka-box > .wizytowka-back {
        width:300px;
        height: 300px;

    }
    .wizytowka-box > .wizytowka-front {
        width:300px;
        height: 300px;

    }
}
@media (max-width: 1200px) {
    .wizytowka-obrazek{
        width:250px;
        height: 250px;
    }
    .wizytowka-box > .wizytowka-back {
        width:250px;
        height: 250px;

    }
    .wizytowka-box > .wizytowka-front {
        width:250px;
        height: 250px;

    }
}
@media (max-width: 560px) {
    .wizytowka-obrazek{
        width:150px;
        height: 150px;
    }
    .wizytowka-box > .wizytowka-back {
        width:150px;
        height: 150px;

    }
    .wizytowka-box > .wizytowka-front {
        width:150px;
        height: 150px;

    }
}