#area {
  /*display: none;*/
  position: absolute;
  background-color: #000;
  width: 100%;
  /*height: 100vh;*/
}
.widoczny {
  /*display: block;*/
  background-color: antiquewhite;
}


.plate {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
}
.meatburger {
  display: none;
}

.plate--empty-2{
  margin: 20px;
  /*display: none;*/
  width: 20%;
  height: 30%;
  border: solid 3px black;
  /*background-color: greenyellow;*/
}
.plate--empty-3{
  margin: 20px ;
  /*display: none;*/
  width: 20%;
  height: 30%;
  border: solid 3px black;
  /*background-color: greenyellow;*/
}
.area--table {
  display: inline-block;
  height: 10vh;
  width: 48%;
  background-color: red;
}

.area--fridge {
  float: right;
  display: inline-block;
  height: 100vh;
  width: 52%;
  background-color: hotpink;
  text-align: center;
}

.fridge--ingridient {
  display: block;
  margin: 20px;
  width: 100px;
  height: 100px;
  background-color: greenyellow;
}

.table--plate{
 /*margin: auto;*/
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-color: #56bcff;

}
/*----------------GRID----------------*/
table {
  height: 100vh;
  width: 100%;
}
.cell {
  width: 10%;
  height: 10%;
  border: 1px solid #000;
}
.food-icon {
  width: 30px;
  height: 30px;
  /*font-size: 50px;*/
}